/*navbar*/

/* cutomize navbar*//
.navbar {
    display: flex;
}
.navbar-custom {
    background-color: #ff5500;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
      color: #F05133;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
       color: #8F2323;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #F05133;
}

.nav-item {
    margin-right: 10px;
    font-size: 15pt;
    font-family: 'PT Serif', serif;

}


.logo {width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.ournav{
    float: right;
    padding-right: 50px;
}

.img-fluid{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}





.navbar-light .navbar-brand {
    color:#168299;
    text-decoration: none;
    text-align: right;

}


/*section*/
* {
  box-sizing: border-box; 
}

body {
  margin: 0; 
  font-weight: 500;
  font-family: 'HelveticaNeue';
}

section {
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  background-color: #373B44;
  height: 100vh;
  

}

.intro {
  height: 80vh;
    background-color: #FFDE8D;
    padding-top: 25px;
    padding-bottom:25px;
}

.second {
  height: 60vh;
    background-color: #F05133;
    background-repeat: no-repeat; 
     padding-top: 25px;
    padding-bottom:25px;
}

.third {
  height: 50vh;
    background-color: #fff;
     padding-top: 25px;
    padding-bottom:25px;
}

.forth {
  height: 50vh;
    background-color: #A23200;
     padding-top: 25px;
    padding-bottom:25px;
}

.fifth {
  height: 50vh;
    background-color: #fff;
}
.content {
  display: table-cell;
  vertical-align: middle;
    flex-wrap: wrap;
}

.clcontent
{  display: flex;
  vertical-align: middle;
    flex-wrap: wrap;
}


/*creating the topic cloud images on the home page*/
.cloudtopics{
    display:flex;
    background-image:url(images/topics/cloud.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 20vw;
    height:10vw;
    justify-content: center;
    align-items: center;
    
}
h1 {
  font-size: background-repeat: 
  display: block;
   font-weight: 300;
}

p {
  font-size: 1.5em;
  font-weight: 500;
  
}

a {
  font-weight: 700;
  color: #373B44;
  position: relative;
  
  &:hover{ 
    opacity: 0.8;
  }
  
  &:active {
    top: 1px;
  }
}

footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #373B44;
  color: white;
  
  a {
    color: #FE4B74;
    font-weight: 500;
    text-decoration: none;
  }
}
/*section*/

/* css grid card for first images*/

* {
    box-sizing: border-box;
}
body {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 0;
}
a {
    color: #278da4;
    text-decoration: none;
}
p {
    margin-bottom: 1.25em;
}
.main-content {
    margin: 2em auto;
}
.card {
    padding: 1.5em 1em;
    border: 1px solid #F05133;
    border-radius: 0.25em;
}

.btn {
    font-size: 0.85em;
    color: #F05133;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.75em 1.5em;
    background-color: #39abcd;
    border-radius: 0.35em;
    display: block;
}

card-img-top{
height:800px
width:auto;}

/* carousel slogans home page- fonts taken from google fonts - reference to w3schools  https://www.w3schools.com/css/css_text.asp*/

.htext{
  font-size: 4em;
    color: #fff;
    font-family: 'PT Serif', serif;
}

.ptext{
  font-size: 2em;
    color: #fff;
    font-family: 'PT Serif', serif;
}

/*styling for the overlay images from w3schools https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_fade mdn flexbox */

h1 {font-size: 4em;
    color: #8F2323;
    font-family: 'PT Serif', serif;}

.container {
  position: relative;
  width: 70%;
}

.image {
 width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.thisweekbooks{
    display:flex;
}

 h1 {font-size: 2.5em;
    color: #8F2323;
    font-family: 'PT Serif', serif;}


